@model IList<GriddlyButton>

@{
    var leftButtons = Model.Where(x => !x.AlignRight && ViewBag.AlignRight != true);
    var rightButtons = Model.Where(x => x.AlignRight || ViewBag.AlignRight == true);
}

@if (Model.Any())
{
    if (rightButtons.Any())
    {
        <div class="btn-toolbar @ViewBag.ClassName pull-right">
            @if (rightButtons.Count() > 1)
            {
            @:<div class="btn-group">
            }
                @foreach (GriddlyButton button in rightButtons)
                {
                    if (button.IsSeparator)
                    {
                        @:</div>
                        @:<div class="btn-group">
                    }
                    else
                    {
                        @Html.Partial(GriddlySettings.ButtonTemplate, button);
                    }
                }
            @if (rightButtons.Count() > 1)
            {
            @:</div>
            }
        </div>
    }
    if (leftButtons.Any())
    {
        <div class="btn-toolbar @ViewBag.ClassName">
            @if (leftButtons.Count() > 1)
            {
                @:<div class="btn-group">
            }
            @foreach (GriddlyButton button in leftButtons)
            {
                if (button.IsSeparator)
                {
                    @:</div>
                    @:<div class="btn-group">
                }
                else
                {
                    @Html.Partial(GriddlySettings.ButtonTemplate, button);
                }
            }
            @if (leftButtons.Count() > 1)
            {
            @:</div>
            }
        </div>
    }
}