@{
    //ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Editly</h1>
        @Html.Griddly("EditlyGrid")
        <form>            
            <div class="form-group">
                <input id="edit-item" class="form-control" type="text" style="display:none" data-val="true" data-val-number="This field must be a number." data-val-range="This field must be greater than or equal to 0.01" data-val-range-min="0.01" data-val-required="This field is required." />
                <select id="edit-number" class="form-control" style="display:none">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <div id="edit-currency" class="input-group" style="display:none;">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" />
                </div>
                <input id="edit-firstname" class="form-control" type="text" style="display:none" data-val="true" data-val-number="This field must be a number." data-val-range="This field must be greater than or equal to 0.01" data-val-range-min="0.01" data-val-required="This field is required." />
                <input id="edit-lastname" class="form-control" type="text" style="display:none" data-val="true" data-val-number="This field must be a number." data-val-range="This field must be greater than or equal to 0.01" data-val-range-min="0.01" data-val-required="This field is required." />
                <select id="edit-bool" class="form-control" style="display:none">
                    <option>True</option>
                    <option>False</option>
                </select>
            </div>
        </form>
    </div>
</div>

@section scripts
{
    <script>
        $(".editly-grid table").editly(
        {
            editors: [
                $("#edit-item"),
                $("#edit-number"),
                $("#edit-currency"),
                $("#edit-firstname"),
                $("#edit-lastname"),
                $("#edit-bool")
            ]
        });
    </script>
}