
@{
    ViewBag.Title = "TestGrid";

    List<SelectListItem> groupedList = new List<SelectListItem>()
    {
        new SelectListItemGroup()
        {
            Text = "Group1",
            Items = new List<SelectListItem>()
            {
                new SelectListItem() { Text = "Item1", Value = "Item1" },
                new SelectListItem() { Text = "Item2", Value = "Item2" },
                new SelectListItem() { Text = "Item3", Value = "Item3" },
                new SelectListItem() { Text = "Item4", Value = "Item4" },
                new SelectListItem() { Text = "Item5", Value = "Item5" },
            }
        },
        new SelectListItemGroup()
        {
            Text = "Group2",
            Items = new List<SelectListItem>()
            {
                new SelectListItem() { Text = "Item6", Value = "Item6" },
                new SelectListItem() { Text = "Item7", Value = "Item7" },
                new SelectListItem() { Text = "Item8", Value = "Item8" },
                new SelectListItem() { Text = "Item9", Value = "Item9" },
                new SelectListItem() { Text = "Item10", Value = "Item10" },
            }
        }
    };
}

@Html.Griddly(new GriddlySettings<TestGridItem>()
    {
        PageSize = 5,
        RowClickUrl = x => "http://microsoft.com",
        Buttons = new List<GriddlyButton>()
        {
            new GriddlyButton() { Text = "Dropdown Test" }
                .Add(new GriddlyButton() { Text = "UrlHelper Test", Argument = Url.Action("About") })
        }, 
        EmptyGridMessageTemplate=@<text><div class="alert alert-warning">@item.Settings.EmptyGridMessage</div></text>,
        EmptyGridMessage="Sorry, no records were found"
    }
    .Column(x => x.Id, filter: x => x.FilterBox(FilterDataType.Integer))
    .Column(x => x.Item, filter: x => x.FilterList(groupedList))
    .Column(x => x.FirstName, "First Name", filter: x => x.FilterBox(FilterDataType.String))
    .Column(x => x.LastName, "Last Name", filter: x => x.FilterBox(FilterDataType.String))
    .Column(x => x.Address, filter: x => x.FilterBox(FilterDataType.String))
    .Column(x => x.City, filter: x => x.FilterBox(FilterDataType.String))
    .Column(x => x.State, filter: x =>
    {
        GriddlyFilterList filter = x.FilterList(TestGridItem.UsStates);

        //filter.CaptionPlural = "State";
        filter.DisplayItemCount = 2;

        return filter;
    })
    .Column(x => x.PostalCode, "Zip", filter: x => x.FilterBox(FilterDataType.String))
    .Column(x => x.Quantity, filter: x => x.FilterRange(FilterDataType.Integer))
    .Column(x => x.Total, format: "c", filter: x => x.FilterRange(FilterDataType.Currency))
    .Column(x => x.Date, filter: x => x.FilterRange(FilterDataType.Date))
    .Column(x => x.IsApproved, "Approved", filter: x => x.FilterBool(nullItemText: "Both", isNoneAll: true))

    .Button(x => "javascript:void(0)", "Search", className: "btn-search", action: GriddlyButtonAction.Navigate )
        .Add(new GriddlyButton("btn-search") { Text = "Show Filter Form" })

//.Filters.Add(new GriddlyFilterBox() { Caption = "Test Form Filter", Field = "Test Form Field" })
)