
@{
    ViewBag.Title = "TestGrid";
}

@Html.Griddly(new GriddlySettings<TestGridItem>()
    {
        PageSize = 5,
        RowClickUrl = x => "http://microsoft.com"
    }
    .TemplateColumn(@<a href="http://google.com">google</a>, "test")
        .Column(x => x.Test)
    .Column(x => x.FirstName, "First Name")
        .Column(x => x.LastName, "Last Name", defaultSort: SortDirection.Ascending, filter: x => x.FilterBox(FilterDataType.String))
                .Column(x => x.Company, "Company", filter: x => x.FilterBox(FilterDataType.Decimal))
            .Column(x => x.Address, "Address", filter: x => x.FilterBox(FilterDataType.Currency))
            .Column(x => x.City, "City", filter: x => x.FilterBox(FilterDataType.Date))
        .Column(x => x.PostalCode, "Zip", filter: x => x.FilterBox(FilterDataType.Integer))
)