@{
    //ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>Griddly  <small>MVC/AJAX/HTML5 hybrid grid</small></h1>
</div>

<div class="row">
    <div class="col-md-12">

        <p>After researching all of the ASP.NET MVC grid components like <a href="http://msdn.microsoft.com/en-us/library/system.web.helpers.webgrid(v=vs.111).aspx">WebGrid</a> and the Javascript grid components like <a href="http://www.datatables.net/">DataTables</a>, I found them all lacking – either the grid is rendered on the server and is kludgy or its rendered client only giving an extra request on page load. Data and render logic is tightly coupled, etc.</p>

        <p>Griddly solves those problems by separating render and data logic, rendering in page during the first render, then requesting subsequent pages from the same MVC action method using a hybrid approach.</p>

        <p>Griddly is built to be extremely configurable, end to end, from data source to rendering. You can use the default IQueryable data source or write your own. There are default template hooks for most things you would want to change. If not, let us know and we’ll add what you need.</p>

        <p>The default UI is rendered using <a href="http://getbootstrap.com">Bootstrap 3</a>, but you can add templates for whatever UI framework you use.</p>

        <h3 id="example">Example</h3>

        <p>Model:</p>

        <pre class="brush: csharp">
            public class Person
            {
                public string FirstName { get; set; }
                public string LastName { get; set; }
                public string ZipCode { get; set; }
            }
        </pre>
    </div>
    <div class="col-md-12">
        @Html.Griddly("FilterBoxGrid", new { test = SortDirection.Ascending })
        <br />
        <a href="javascript:GetFilterValues()">get filter values</a> | <a href="javascript:SetFilterValues()">set filter values</a>
        @Html.Griddly("FilterRangeGrid")
        <br />
        @Html.Griddly("FilterListGrid")
        <br />
        @Html.Griddly("TestGrid")
    </div>
</div>

<script>
    function AlertSelectedIds(rowIds)
    {
        var result = $(this).closest(".griddly").griddly("getSelected", rowIds);

        var str = "{\n";
        for (var k in result)
            str += " " + k + " : [ " + result[k].toString() + " ]\n";
        str += "}";

        alert(str);
    }

    function GetFilterValues()
    {
        var result = $(".filter-range-grid").griddly("getFilterValues");

        var str = "{\n";
        for (var k in result)
            str += " " + k + " : [ " + result[k].toString() + " ]\n";
        str += "}";

        alert(str);
    }

    function SetFilterValues()
    {
        $(".filter-range-grid").griddly("setFilterValues", { companyStart: '53' });
    }
</script>