
@{
    ViewBag.Title = "Test 1 Grid";
}

@Html.Griddly(new GriddlySettings<TestGridItem>()
    {
        PageSize = 5,
        FilterButtonTemplate = @<div class="btn-group">
  <button type="button" class="btn btn-default griddly-filter-invoke"><i class="glyphicon glyphicon-filter"></i><span class="hidden-xs hidden-sm"> Filter</span></button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
    }
    
    .Column(x => x.FirstName, "First Name" )
    .Column(x => x.LastName, "Last Name", filter: x => x.FilterBox(FilterDataType.String), defaultSort: SortDirection.Ascending)
    .Column(x => x.City, "City", filter: x => x.FilterBox(FilterDataType.String))
    .Column(x => x.State, "State")
    .Column(x => x.Address, "Address")
)