@{
    ViewBag.Title = "Multiple Default Test";
}

<div class="row">
    <div class="col-md-12">
        <h2>Multiple Default Test</h2>
        <h3>Grid 1</h3>
        @await Html.GriddlyAsync("Test1Grid")
        <h3>Grid 2</h3>
        @await Html.GriddlyAsync("Test2Grid")
    </div>
</div>